$desktop: "(min-width: 1024px)";
$trans: 'all 0.6s';

$tablet: "(min-width: 768px) and (max-width: 1023px)";

* {
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
}

body {
  /*background-color: rgb(238, 239, 241); */
  background-color: rgb(242, 242, 242);
  font-family: "acumin-pro";
  color: rgb(79, 79, 79);
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-size: 1.8rem;
}

.Page-Wrap {
  transition: #{$trans};
}

.clear {
  clear: both;
}

.App {
  text-align: left;
  width: 1180px;
  margin: 0 auto 0 auto;
}

.Page-Wrap {
    z-index: 100;
}

@media (max-width: 1260px) {
  html {
    padding: 0 40px 0 40px;
  }
  .App {
    text-align: left;
    width: 100%;
  }
}

h1 {
  font-weight: 100;
  font-size: 10rem;
  border-bottom: solid 1px rgb(251, 108, 104);
  display: inline;
  line-height: 1.50;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 100;
  font-size: 7rem;
  border-bottom: solid 1px rgb(251, 108, 104);
  display: inline;
  line-height: 1.50;
  margin: 0;
  padding: 0;
}

a {
  text-decoration:  none;
  color: rgb(251, 108, 104);
  font-size: 2.4rem;
  font-weight: 400;
}

.See-More-Img svg {
  height: 2.4rem;
  margin: .5rem 0 -.5rem 0;
}

.Seperator {
  width: 100%;
  height: 1px;
  background-color: rgb(251, 108, 104);
  margin: 0 auto 0 auto;
}

.Page-Height {
  min-height: 1000px;
  margin: 0;
}
