.Home-Intro {
  align-items: center;
  text-align: center;
  width: 100%;
}

.Home-Intro p {
  width: 60%;
  font-size: 2em;
  margin: 1em auto 0 auto;
}

.Home-Intro-Img {
  width: 80%;
  margin: 0 0 0 0;
}

.Home-Intro-Text {
  height: 50%;
  margin: 1em 0 1em 0;
}

.Home-Intro-Text h1 {
  font-size: 7em;
}

@media #{$desktop} {
	.Home-Intro-Img  {
		height: 50%;
	}

	.Home-Intro-Text {
	  margin: -5em 0 1em 0;
	}

  .Home-Intro-Text h1   {
    font-size: 10em;
  }
}

.Scroll-Down {
  width: 8em;
  height: 4em;
  position: absolute;
  bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  animation: Bounce infinite 2s linear;
}
