

.SearchWrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 555;
  box-sizing: border-box;
  padding: 0 40px 0 100px;
  width: 100%;
  height: 64px;
  background-color: rgba(252, 252, 252, 0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.SearchField {
  width: 100%;
  margin: 12px auto 0px auto;
}

.SearchField input {
  float: left;
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
  padding: 0 40px 0 40px;
  border: none;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 18px;
  color: rgb(79, 79, 79);
  line-height: 40px;
  outline-style: none;
  background-image: url('../img/search.svg');
  background-position: 10px 10px;
  background-size: 20px;
  background-repeat: no-repeat;
}

.SearchField ::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 40px;
}
.SearchField ::-moz-placeholder { /* Firefox 19+ */
  font-size: 14px;
  line-height: 40px;
}
.SearchField :-ms-input-placeholder { /* IE 10+ */
  font-size: 14px;
  line-height: 40px;
}
.SearchField :-moz-placeholder { /* Firefox 18- */
  font-size: 14px;
  line-height: 40px;
}

.SearchClear {
  float: left;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  margin: 0 0 0 -40px;
  padding: 0;
  background-image: url('../img/clear.svg');
  background-position: 10px 10px;
  background-size: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.Search-Results {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0px 0px 0 0px;
  background-color: rgb(252, 252, 252);
  margin: 0px auto 0px auto;
  border-top: none;
  border-right: 1px solid rgb(204, 204, 204);
  border-bottom: 1px solid rgb(204, 204, 204);
  border-left: 1px solid rgb(204, 204, 204);
  z-index: 999999;
  border-radius: 3px;
  overflow-y: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.Search-Count {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0 20px 40px;
  font-size: 18px;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.Search-Count a{
  padding: 0 0 0 10px;
  font-size: 14px;
  cursor: pointer;
  color: rgb(41, 171, 226);
}

.Search-Count-Number {
  font-weight: bold;
}

.No-Results {
  margin: 100px 0 0 0;
  font-size: 24px;
  font-weight: 300;
}

.Go-To {
  display: block;
  font-size: 24px;
  margin: 0 0 20px 0;
  background-color: rgb(41, 171, 226);
  color: rgb(242, 242, 242);
  width: 200px;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
}

.List-Item {
  display: block;
  width: 100%;
  border-bottom: 1px solid rgb(204, 204, 204);
  min-height: 40px;
  color: rgb(77, 77, 77);
}

.List-Item:hover {
  background-color: rgb(232, 232, 232);
}

.List-Highlight {
  background-color: rgb(232, 232, 232);
}

.List-Img {
  float: left;
  width: 106px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(242, 242, 242);
}

.List-Info {
  float: left;
  width: 60%;
  padding: 0 0 0 20px;
}

.List-Info-Title {
  font-size: 24px;
  line-height: 24px;
  margin: 5px 0 0 0;
}

.List-Info-Category {
  font-size: 16px;
}

.List-Info-Text {
  font-size: 14px;
}

.Search-Catch-Click {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
