body {
  background-color: rgb(242, 242, 242);
  font-family: "acumin-pro";
  color: rgb(79, 79, 79);
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: 64px;
  color: #0F0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Home-Intro-BG {
  width: 600px;
  height: 600px;
}
